.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  opacity: 0.7; }

.settings-block {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  max-width: 284px; }
  .settings-block__refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    height: 44px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-image: url(../images/refresh-background.svg); }
    .settings-block__refresh:hover {
      cursor: pointer; }
      .settings-block__refresh:hover .refresh__arrows {
        transform: rotate(180deg);
        transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .settings-block__settings-container {
    display: flex; }
  .settings-block__language {
    display: flex;
    width: 132px;
    height: 44px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px; }
    .settings-block__language--button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      font-family: Montserrat, "Trebuchet MS", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.4);
      text-transform: uppercase;
      background-color: #4c5255;
      user-select: none;
      transition: width 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
      .settings-block__language--button:hover {
        cursor: pointer;
        color: white;
        transition: color 500ms; }
  .settings-block__degrees {
    display: flex;
    border-radius: 5px;
    width: 88px;
    height: 44px;
    overflow: hidden; }
    .settings-block__degrees--button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      font-family: Montserrat, "Trebuchet MS", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.4);
      text-transform: uppercase;
      background-color: #4c5255;
      user-select: none;
      transition: width 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
      .settings-block__degrees--button:hover {
        cursor: pointer;
        color: white;
        transition: color 500ms; }

.search-block {
  display: flex;
  min-width: 274px;
  height: 44px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #4c5255;
  overflow: hidden;
  border: 1px solid rgba(174, 181, 185, 0.8); }
  .search-block__input {
    width: 70%;
    font-family: Montserrat, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    background-color: rgba(76, 82, 85, 0); }
  .search-block__search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 44px;
    font-family: Montserrat, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(174, 181, 185, 0.8);
    user-select: none;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
    .search-block__search-button:hover {
      cursor: pointer;
      width: 40%;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.active {
  width: 60px;
  background-color: rgba(174, 181, 185, 0.8);
  color: #ffffff;
  transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

@media screen and (max-width: 768px) {
  .settings-block {
    max-width: 100%;
    justify-content: space-between; }
  .search-block {
    width: 100%; } }

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4vw; }

.weather {
  width: 100%;
  max-width: 50vw; }

.place__city {
  font-family: Montserrat, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 2.7vw;
  text-transform: uppercase;
  color: #FFFFFF; }

.place__date {
  margin-top: 5px;
  font-family: Montserrat, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8vw;
  line-height: 2vw;
  color: #FFFFFF; }

.today {
  display: flex;
  margin-bottom: 20px; }
  .today__temperature {
    font-family: Montserrat, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18vw;
    line-height: 18vw;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1; }
  .today__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px; }
    .today__description--icon {
      width: 15vw;
      height: 100%;
      margin: -4.5vw 0 0 -39px;
      user-select: none; }
    .today__description--info {
      font-family: Montserrat, "Trebuchet MS", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5vw;
      line-height: 2vw;
      color: #FFFFFF;
      margin-top: -2vw; }
    .today__description--element {
      display: flex; }

.future {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.future-weather {
  display: flex;
  flex-direction: column;
  margin-top: 2vw; }
  .future-weather__day {
    font-family: Montserrat, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 0vw;
    text-transform: capitalize;
    color: #FFFFFF; }
  .future-weather__temperature {
    font-family: Montserrat, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 9vw;
    text-transform: uppercase;
    color: #FFFFFF; }
  .future-weather__icon {
    width: 6vw;
    margin-left: -15px;
    user-select: none; }

.map {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px; }
  .map__draw {
    width: 25vw;
    height: 25vw;
    background-color: grey; }
  .map__coordinates {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    font-family: Montserrat, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3vw;
    line-height: 2vw;
    text-transform: uppercase;
    text-align: right;
    color: #FFFFFF; }
    .map__coordinates--element {
      display: flex; }

@media screen and (max-width: 768px) {
  .main {
    justify-content: space-around; }
  .place {
    margin-bottom: 30px; }
    .place__city {
      font-size: 5vw;
      line-height: 6vw; }
    .place__date {
      font-size: 3.5vw;
      line-height: 5vw; }
  .weather {
    width: 82vw;
    max-width: 100%; }
  .today {
    justify-content: center; }
    .today__temperature {
      font-size: 35vw;
      line-height: 35vw; }
    .today__description--icon {
      width: 30vw;
      height: 100%;
      margin: -65px 0px -10px -50px; }
    .today__description--info {
      margin-top: -20px;
      font-size: 2.5vw;
      line-height: 4vw; }
  .future-weather {
    margin-bottom: 20px; }
    .future-weather__day {
      font-size: 3vw; }
    .future-weather__temperature {
      font-size: 10vw;
      line-height: 13vw; }
    .future-weather__icon {
      width: 10vw; }
  .map {
    margin-top: 10px; }
    .map__draw {
      width: 65vw;
      height: 65vw; }
    .map__coordinates {
      font-size: 2.5vw;
      line-height: 4vw; } }

@media screen and (max-width: 375px) {
  .main {
    margin-top: 20px; }
  .place__city {
    font-size: 7vw;
    line-height: 1; }
  .place__date {
    font-size: 4vw; }
  .today {
    justify-content: center; }
    .today__description--icon {
      width: 25vw;
      margin: -30px 0px 0px -20px; }
    .today__description--info {
      margin-top: -10px;
      font-size: 4vw;
      line-height: 5vw; }
  .future-weather__day {
    font-size: 3.6vw; }
  .future-weather__temperature {
    font-size: 10vw; }
  .future-weather__icon {
    width: 10vw;
    margin-left: -8px; }
  .map__coordinates {
    font-size: 4vw;
    line-height: 6vw; } }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.body {
  background-image: none;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover; }
  .body__darkness {
    height: 100%;
    min-height: 100vh;
    padding: 0px 8vw 0px 8vw;
    background-color: rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 375px) {
  .body__darkness {
    padding: 0px 5px 0px 5px; } }
