$color-active: rgba(174, 181, 185, 0.5);
$color-inactive: rgba(76, 82, 85, 0.4);
$opacity-level: 0.8;
$font-default: Montserrat, 'Trebuchet MS', sans-serif;

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4vw;
}

.weather {
    width: 100%;
    max-width: 50vw;
}

.place {

    &__city {
    font-family: $font-default;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #FFFFFF;
    }

    &__date {
        margin-top: 5px;
        font-family: $font-default;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8vw;
        line-height: 2vw;
        color: #FFFFFF;
    }
}

.today {
    display: flex;
    margin-bottom: 20px;

    &__temperature {
        font-family: Montserrat, "Trebuchet MS", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18vw;
        line-height: 18vw;
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 1;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-left: 10px;
        
        &--icon {
            width: 15vw;
            height: 100%;
            margin: -4.5vw 0 0 -39px;
            user-select: none;
        }

        &--info {
            font-family: Montserrat, "Trebuchet MS", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.5vw;
            line-height: 2vw;
            color: #FFFFFF;
            margin-top: -2vw;
        }

        &--element {
            display: flex;
        }
    }
}

.future {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.future-weather {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;

    &__day {
        font-family: $font-default;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8vw;
        line-height: 0vw;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    &__temperature {
        font-family: $font-default;
        font-style: normal;
        font-weight: 600;
        font-size: 5vw;
        line-height: 9vw;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__icon {
        width: 6vw;
        margin-left: -15px;
        user-select: none;
    }
}

.map {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;

    &__draw {
        width: 25vw;
        height: 25vw;
        background-color: grey;
    }

    &__coordinates {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;
        font-family: $font-default;
        font-style: normal;
        font-weight: bold;
        font-size: 1.3vw;
        line-height: 2vw;
        text-transform: uppercase;
        text-align: right;
        color: #FFFFFF;

        &--element {
            display: flex;
        }
    }
}


@media screen and (max-width: 768px) {

    .main {
        justify-content: space-around;
    }

    .place {
        margin-bottom: 30px;

        &__city {
            font-size: 5vw;
            line-height: 6vw;
        }
        
        &__date {
            font-size: 3.5vw;
            line-height: 5vw;
        }
    }
    
    .weather {
        width: 82vw;
        max-width: 100%;
    }

    .today {
        justify-content: center;

        &__temperature {
            font-size: 35vw;
            line-height: 35vw;
        }

        &__description {
            &--icon {
                width: 30vw;
                height: 100%;
                margin: -65px 0px -10px -50px;
            }

            &--info {
                margin-top: -20px;
                font-size: 2.5vw;
                line-height: 4vw;
            }
        }
    }

    .future-weather {
        margin-bottom: 20px;

        &__day {
            font-size: 3vw;
        }

        &__temperature {
            font-size: 10vw;
            line-height: 13vw;
        }

        &__icon {
            width: 10vw;
        }
    }

    .map {
        margin-top: 10px;

        &__draw {
            width: 65vw;
            height: 65vw;
        }
        &__coordinates {
            font-size: 2.5vw;
            line-height: 4vw;
        }
    }
}

@media screen and (max-width: 375px) {
    .main {
        margin-top: 20px;
    }

    .place {
        &__city {
            font-size: 7vw;
            line-height: 1;
        }

        &__date {
            font-size: 4vw;
        }
    }

    .today {
        justify-content: center;

        &__description {
            &--icon {
                width: 25vw;
                margin: -30px 0px 0px -20px;
            }
            &--info {
                margin-top: -10px;
                font-size: 4vw;
                line-height: 5vw;
            }
        }
    }

    .future-weather {
        &__day {
            font-size: 3.6vw;
        }

        &__temperature {
            font-size: 10vw;
        }

        &__icon {
            width: 10vw;
            margin-left: -8px;
        }
    }

    .map {

        &__coordinates {
            font-size: 4vw;
            line-height: 6vw;
        }
    }
}